html, body{
    padding: 0;
    margin: 0;
    width: 100%;
}

.list{
    width: 290px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 2px solid #C3C3C3;
    font-family: "Arial Narrow", sans-serif;
}
.list ul{
    margin: 0;
    list-style-type: none;
    padding-left: 0;
}
.list ul li{
    margin: 6px 0 6px 6px;
}
.list .hidden{
    display: none;
}
.list span{
    display: inline-block;
    width: 300%;
    padding: 6px 0 6px 6px;
    font-weight: 600;
    background-color: #E9EAEC;
    font-size: 1.1em;
    border-bottom: 2px solid #C3C3C3;
    cursor: pointer;
}